**/build.properties

android/*.aar
android/.idea
android/*.iml
android/assets/*
android/build
android/dist
android/libs/**/*.so
android/lib/*
android/platform/android/res/*

iphone/build
iphone/*.zip
iphone/Resources
iphone/**/xcuserdata/**
android/java-sources.txt
iphone/platform/ZoomAuthentication.framework
